.easyPieChart {
    position: relative;
    text-align: center;
}

.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.jqplot-target{
	width: 110px; height: 110px; line-height: 110px; font-size: 1.2em;
    font-weight: 100;
    margin-bottom: 0.3em;
    text-align: center;
}
