@charset "utf-8";
/* CSS Document */

.navbar {
    border-radius: 2px;
    margin-bottom: 0;
    min-height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.navbar:before, .navbar:after {
    content: " ";
    display: table;
}
.navbar:after {
    clear: both;
}
.navbar-nav {
    margin-bottom: 15px;
    margin-top: 10px;
}
.navbar-nav > li > a {
    border-radius: 2px;
    color: #777777;
    line-height: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #fff;
    opacity: 1;
}
.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    background-color: #d4d4d4;
    color: #555555;
}
.navbar-nav > .disabled > a, .navbar-nav > .disabled > a:hover, .navbar-nav > .disabled > a:focus {
    background-color: transparent;
    color: #cccccc;
}
.navbar-nav.pull-right {
    width: 100%;
}
.navbar-static-top {
    border-radius: 0;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    border-radius: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1030;
}
.navbar-fixed-top {
    top: 0;
}
.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
}
.navbar-brand {
    color: #777777;
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin-left: 0;
    margin-right: auto;
    margin-top: 25px;
    max-width: 200px;
    text-align: center;
}
.navbar-brand:hover, .navbar-brand:focus {
    background-color: transparent;
    color: #5e5e5e;
    text-decoration: none;
}
.navbar-toggle {
    background-color: transparent;
    border: 1px solid #dddddd;
    border-radius: 2px;
    height: 32px;
    padding: 8px 12px;
    position: absolute;
    right: 10px;
    top: 9px;
    width: 48px;
}
.navbar-toggle:hover, .navbar-toggle:focus {
    background-color: #dddddd;
}
.navbar-toggle .icon-bar {
    background-color: #cccccc;
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}
.navbar-form {
    margin-bottom: 8px;
    margin-top: 8px;
}
.navbar-nav > li > .dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.navbar-nav > .dropdown > a:hover .caret, .navbar-nav > .dropdown > a:focus .caret {
    border-bottom-color: #333333;
    border-top-color: #333333;
}
.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
    background-color: #d4d4d4;
    color: #555555;
}
.navbar-nav > .open > a .caret, .navbar-nav > .open > a:hover .caret, .navbar-nav > .open > a:focus .caret {
    border-bottom-color: #555555;
    border-top-color: #555555;
}
.navbar-nav > .dropdown > a .caret {
    border-bottom-color: #777777;
    border-top-color: #777777;
}
.navbar-nav.pull-right > li > .dropdown-menu, .navbar-nav > li > .dropdown-menu.pull-right {
    left: auto;
    right: 0;
}
.navbar-inverse {
    background-color: #222222;
}
.navbar-inverse .navbar-brand {
    color: #999999;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    background-color: transparent;
    color: white;
}
.navbar-inverse .navbar-text {
    color: #999999;
}
.navbar-inverse .navbar-nav > li > a {
    color: #999999;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: transparent;
    color: white;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #090909;
    color: white;
}
.navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:hover, .navbar-inverse .navbar-nav > .disabled > a:focus {
    background-color: transparent;
    color: #444444;
}
.navbar-inverse .navbar-toggle {
    border-color: #333333;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #333333;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #090909;
    color: white;
}
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
    border-bottom-color: white;
    border-top-color: white;
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-bottom-color: #999999;
    border-top-color: #999999;
}
.navbar-inverse .navbar-nav > .open > a .caret, .navbar-inverse .navbar-nav > .open > a:hover .caret, .navbar-inverse .navbar-nav > .open > a:focus .caret {
    border-bottom-color: white;
    border-top-color: white;
}

*, *:before, *:after {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.navbar-nav > li {
    float: left;
}
.nav > li {
    display: block;
    opacity: 0.8;
    padding: 0 0 0 13px;
    position: relative;
    transition: all 0.05s linear 0s;
}
li {
    list-style: none outside none;
    padding: 0;
}
* {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
*::-moz-placeholder {
    color: #fff;
}